<template>
  <div>
    <h1>Archivierte Anfragen</h1>
    <br>
    <b-button-group>
      <b-button to="/inquiries">Eingang</b-button>
      <b-button to="/archived_inquiries">Archiv</b-button>
    </b-button-group>
    <br><br>
    <b-form-group>
      <b-input-group prepend="Filter" size="sm">
        <b-form-input
          v-model="filter"
          type="search"
          id="filterInput"
          placeholder="Suche"
        ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Löschen</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    <b-table
      :items="allArchivedInquiries"
      :fields="fields"
      :busy.sync="isBusy"
      :sort-desc.sync="sortDesc"
      :filter="filter"
      :no-provider-sorting=true
      :no-provider-filtering=true
      primery-key="archived_inquiry.id"
      responsive="sm"
    >
      <template v-slot:row-details="row">
        <b-card>
          <b-row class="mb-2">
            <b-col><b>Status</b></b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col>{{ row.item.archived_inquiry.formattedAction }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col><b>Eingangsdatum</b></b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-datepicker readonly
              :value="row.item.archived_inquiry.arrival"
              class="mb-2">
              </b-form-datepicker>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col><b>Nachricht</b></b-col>
            </b-row>
            <b-row class="mb-2">
            <b-col>
              <b-form-textarea readonly
                :value="row.item.archived_inquiry.message"
                max-rows="20">
              </b-form-textarea>
            </b-col>
          </b-row>
            <b-row class="mb-2">
              <b-col><b>Extras</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-checkbox value="1"
                  v-model="row.item.archived_inquiry.parkingLot" disabled>
                  Tiefgaragen Stellplatz
                </b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox value="1"
                  v-model="row.item.archived_inquiry.babyBed" disabled>
                  Babybett
                </b-form-checkbox>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col><b>Anzahl Erwachsene</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-input plaintext
                  :value="row.item.archived_inquiry.numberAdults">
                </b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col><b>Anzahl Kinder / Ermäßigt</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-input plaintext
                  :value="row.item.archived_inquiry.numberReduced">
                </b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col><b>E-Mail</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-input plaintext
                  :value="row.item.person.email">
                </b-form-input>
              </b-col>
            </b-row>
        </b-card>
      </template>
      <template v-slot:cell(details)="row">
        <b-button @click="row.toggleDetails" class="mr-1">
          <b-icon-chevron-down v-if="!row.detailsShowing">
          </b-icon-chevron-down>
          <b-icon-chevron-up v-else>
          </b-icon-chevron-up>
        </b-button>
        <b-button :id="`${row.item.archived_inquiry.id}`">
          <b-icon-three-dots-vertical>
          </b-icon-three-dots-vertical>
        </b-button>
        <b-popover :target="`${row.item.archived_inquiry.id}`" triggers="focus">
          <template v-slot:title>Aktionen</template>
          <b-button-group vertical>
            <b-button
              size="sm"
              @click="recoverInquiry(row.item.archived_inquiry.id)"
              class="mr-1">
              Wiederherstellen
            </b-button>
            <b-button
              size="sm"
              v-show="archivedInquiryAccepted(row.item.archived_inquiry)"
              @click="onDeleteArchivedInquiry(row.item.archived_inquiry.id)"
              class="mr-1">
              Löschen
            </b-button>
          </b-button-group>
        </b-popover>
      </template>
    ></b-table>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'ArchivedInquiryList',
  computed: mapGetters(['allArchivedInquiries']),
  data() {
    return {
      filter: null,
      isBusy: false,
      sortDesc: false,
      items: [],
      fields: [
        { key: 'archived_inquiry.updated_at', label: 'Änderungsdatum', sortable: true },
        { key: 'person.fullName', label: 'Name', sortable: true },
        { key: 'archived_inquiry.arrivalLocal', label: 'Anreise', sortable: true },
        { key: 'archived_inquiry.departureLocal', label: 'Abreise', sortable: true },
        { key: 'archived_inquiry.formattedRooms', label: 'Zimmer', sortable: true },
        { key: 'archived_inquiry.formattedPersonNumbers', label: 'Anzahl', sortable: true },
        { key: 'details', label: '' },
        { key: 'actions', label: '' },
      ],
    };
  },
  methods: {
    ...mapActions(['fetchArchivedInquiries', 'recoverInquiry', 'deleteArchivedInquiry']),
    archivedInquiryAccepted(archivedInquiry) {
      let show = '';

      if (archivedInquiry.action !== 'accept') {
        show = true;
      } else show = false;
      return show;
    },
    onDeleteArchivedInquiry(archivedInquiryId) {
      this.$bvModal.msgBoxConfirm('Wirklich Archivierte Anfrage endgültig löschen?', {
        title: 'Archivierte Anfrage endgültig löschen',
        okVariant: 'danger',
        okTitle: 'JA',
        cancelTitle: 'NEIN',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true,
      })
        .then((confirmed) => {
          if (confirmed) {
            this.deleteArchivedInquiry(archivedInquiryId);
          }
        });
    },
  },
  created() {
    this.fetchArchivedInquiries();
  },
};
</script>
