<template>
  <div>
    <h1>Anfragen</h1>
    <br>
    <b-button-group>
      <b-button to="/inquiries">Eingang</b-button>
      <b-button to="/archived_inquiries">Archiv</b-button>
    </b-button-group>
    <br><br>
    <b-form-group>
      <b-input-group prepend="Filter" size="sm">
        <b-form-input
          v-model="filter"
          type="search"
          id="filterInput"
          placeholder="Suche"
        ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Löschen</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    <b-table
      :items="allInquiries"
      :fields="fields"
      :busy.sync="isBusy"
      :sort-desc.sync="sortDesc"
      :filter="filter"
      :no-provider-sorting=true
      :no-provider-filtering=true
      primery-key="inquiry.id"
      responsive="sm"
    >
      <template v-slot:row-details="row">
          <b-card>
            <b-row class="mb-2">
              <b-col><b>Nachricht</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-textarea readonly
                  :value="row.item.inquiry.message"
                  max-rows="20">
                </b-form-textarea>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col><b>Extras</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-checkbox value="1"
                  v-model="row.item.inquiry.parkingLot" disabled>
                  Tiefgaragen Stellplatz
                </b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox value="1"
                  v-model="row.item.inquiry.babyBed" disabled>
                  Babybett
                </b-form-checkbox>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col><b>Anzahl Erwachsene</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-input plaintext
                  :value="row.item.inquiry.numberAdults">
                </b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col><b>Anzahl Kinder / Ermäßigt</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-input plaintext
                  :value="row.item.inquiry.numberReduced">
                </b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col><b>E-Mail</b></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                <b-form-input plaintext
                  :value="row.item.person.email">
                </b-form-input>
              </b-col>
            </b-row>
          </b-card>
      </template>
      <template v-slot:cell(details)="row">
        <b-button @click="row.toggleDetails" class="mr-1">
          <b-icon-chevron-down v-if="!row.detailsShowing">
          </b-icon-chevron-down>
          <b-icon-chevron-up v-else>
          </b-icon-chevron-up>
        </b-button>
        <b-button :id="`${row.item.inquiry.id}`">
          <b-icon-three-dots-vertical>
          </b-icon-three-dots-vertical>
        </b-button>
        <b-popover :target="`${row.item.inquiry.id}`" triggers="focus">
          <template v-slot:title>Aktionen</template>
          <b-button-group vertical>
            <b-button
              size="sm"
              @click="acceptInquiry(row.item.inquiry.id)"
              v-b-modal.modal-1>
              Akezeptieren
            </b-button>
            <b-button
              size="sm"
              @click="openEditInquiryModal(row)"
              class="mr-1">
              Bearbeiten
            </b-button>
            <b-button
              size="sm"
              @click="onDeleteInquiry(row.item.inquiry.id)"
              class="mr-1">
              Löschen
            </b-button>
          </b-button-group>
        </b-popover>
      </template>
    ></b-table>
    <b-modal
      ref="editInquiryModal"
      id="update-inquiry"
      title="Anfrage Bearbeiten"
      hide-footer
      size="lg">
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate">
        <b-form-group id="form-edit-prename"
          label="Vorname"
          label-for="form-edit-prename-input">
          <b-form-input id="form-edit-prename-input"
            type="text"
            v-model="$v.editForm.person.prename.$model"
            :state="validateState('person', 'prename')"
            aria-describedby="prename-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="prename-feedback">
            Vorname fehlt
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-name"
          label="Name"
          label-for="form-edit-name-input">
          <b-form-input id="form-edit-name-input"
            type="text"
            v-model="$v.editForm.person.name.$model"
            :state="validateState('person', 'name')"
            aria-describedby="name-feedback"
          ></b-form-input>
          <b-form-invalid-feedback id="name-feedback">
            Name fehlt
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-email"
          label="E-Mail"
          label-for="form-edit-email-input">
          <b-form-input id="form-edit-email-input"
            v-model="$v.editForm.person.email.$model"
            :state="validateState('person', 'email')"
            aria-describedby="email-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="email-feedback">
            E-Mail Addresse nicht gültig
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-email"
          label="Anreise"
          label-for="form-edit-email-input">
          <b-form-datepicker
            id="form-edit-email-input"
            :date-disabled-fn="dateDisabledArrival"
            :state="validateState('inquiry', 'arrival')"
            aria-describedby="arrival-datepicker-feedback"
            v-model="$v.editForm.inquiry.arrival.$model" class="mb-2"
            placeholder="Kein Anreise Datum ausgewählt">
          </b-form-datepicker>
          <b-form-invalid-feedback id="arrival-datepicker-feedback">
            Ankunftsdatum fehlt
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-email"
          label="Abreise"
          label-for="form-edit-email-input">
          <b-form-datepicker
            id="form-edit-email-input"
            :min="editForm.inquiry.arrival"
            :state="validateState('inquiry', 'departure')"
            aria-describedby="departure-datepicker-feedback"
            v-model="$v.editForm.inquiry.departure.$model"
            placeholder="Kein Abreise Datum ausgewählt">
          </b-form-datepicker>
          <b-form-invalid-feedback id="departure-datepicker-feedback">
            Abreisedatum fehlt
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-email"
          label="Zimmer"
          label-for="form-edit-email-input">
          <b-row class="mb-2">
            <b-col>
              <b-form-checkbox value="1" unchecked-value="0"
                :state="validateState('inquiry', 'roomNorth')"
                aria-describedby="room-feedback"
                v-model="$v.editForm.inquiry.roomNorth.$model"
              >Nord
              </b-form-checkbox>
            </b-col>
            <b-col>
              <b-form-checkbox value="1" unchecked-value="0"
                :state="validateState('inquiry', 'roomSouth')"
                aria-describedby="room-feedback"
                v-model="$v.editForm.inquiry.roomSouth.$model">
                Süd
              </b-form-checkbox>
              <b-form-invalid-feedback id="room-feedback">
                Mindestens ein Zimmer muss ausgewählt sein.
              </b-form-invalid-feedback>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="form-edit-email"
          label="Extras"
          label-for="form-edit-email-input">
          <b-row class="mb-2">
            <b-col>
              <b-form-checkbox value="1" v-model="editForm.inquiry.parkingLot">
                Tiefgaragen Stellplatz
              </b-form-checkbox>
            </b-col>
            <b-col>
              <b-form-checkbox value="1" v-model="editForm.inquiry.babyBed">
                Babybett
              </b-form-checkbox>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="form-edit-email"
          label="Anzahl Erwachsene"
          label-for="form-edit-email-input">
          <b-row class="mb-2">
            <b-col>
              <b-form-input
                v-model="$v.editForm.inquiry.numberAdults.$model"
                :state="validateState('inquiry', 'numberAdults')"
                aria-describedby="number-adults-feedback">
              </b-form-input>
              <b-form-invalid-feedback id="number-adults-feedback">
                Anzahl Erwachsene darf nicht negativ sein oder fehlen.
              </b-form-invalid-feedback>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col>Anzahl Kinder / Ermäßigt</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col>
              <b-form-input
                v-model="$v.editForm.inquiry.numberReduced.$model"
                :state="validateState('inquiry', 'numberReduced')"
                aria-describedby="number-reduced-feedback">
              </b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="form-edit-message"
          label="Nachricht"
          label-for="form-edit-message-input">
          <b-form-textarea id="form-edit-message-input"
            type="text"
            v-model="editForm.inquiry.message"
            rows="5">
          </b-form-textarea>
        </b-form-group>
        <b-button-group>
          <b-button type="submit">Senden</b-button>
          <b-button type="reset">Abbruch</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {
  required, integer, minValue, email,
} from 'vuelidate/lib/validators';

export default {
  name: 'InquiryList',
  computed: mapGetters(['allInquiries']),
  data() {
    return {
      filter: null,
      isBusy: false,
      sortDesc: false,
      fields: [
        { key: 'inquiry.created_at', label: 'Eingangsdatum', sortable: true },
        { key: 'person.fullName', label: 'Name', sortable: true },
        { key: 'inquiry.arrivalLocal', label: 'Anreise', sortable: true },
        { key: 'inquiry.departureLocal', label: 'Abreise', sortable: true },
        { key: 'inquiry.formattedRooms', label: 'Zimmer', sortable: true },
        { key: 'inquiry.formattedPersonNumbers', label: 'Anzahl', sortable: true },
        { key: 'details', label: '' },
        { key: 'actions', label: '' },
      ],
      editForm: {
        inquiry: {
          id: '',
          f_person_id: '',
          arrival: '',
          departure: '',
          roomNorth: '',
          roomSouth: '',
          parkingLot: '',
          babyBed: '',
          numberAdults: '',
          numberReduced: '',
        },
        person: {
          id: '',
          prename: '',
          name: '',
          email: '',
        },
      },
    };
  },
  validations: {
    editForm: {
      inquiry: {
        arrival: {
          required,
        },
        departure: {
          required,
          checkDate(date) {
            return date > this.editForm.inquiry.arrival;
          },
        },
        roomNorth: {
          roomSelected(roomNorth) {
            return parseInt(roomNorth, 10) || parseInt(this.editForm.inquiry.roomSouth, 10);
          },
        },
        roomSouth: {
          roomSelected(roomSouth) {
            return parseInt(roomSouth, 10) || parseInt(this.editForm.inquiry.roomNorth, 10);
          },
        },
        numberAdults: {
          required,
          integer,
          minValue: minValue(0),
        },
        numberReduced: {
          required,
          integer,
          minValue: minValue(0),
        },
        checked: {
          required,
        },
      },
      person: {
        prename: {
          required,
        },
        name: {
          required,
        },
        email: {
          required,
          email,
        },
      },
    },
  },
  methods: {
    ...mapActions(['fetchInquiries', 'acceptInquiry', 'editInquiry', 'deleteInquiry']),
    openEditInquiryModal(row) {
      this.editForm.person.id = row.item.person.id;
      this.editForm.person.prename = row.item.person.prename;
      this.editForm.person.name = row.item.person.name;
      this.editForm.person.email = row.item.person.email;
      this.editForm.inquiry.id = row.item.inquiry.id;
      this.editForm.inquiry.f_person_id = row.item.inquiry.f_person_id;
      this.editForm.inquiry.arrival = row.item.inquiry.arrival;
      this.editForm.inquiry.departure = row.item.inquiry.departure;
      this.editForm.inquiry.roomNorth = row.item.inquiry.roomNorth;
      this.editForm.inquiry.roomSouth = row.item.inquiry.roomSouth;
      this.editForm.inquiry.parkingLot = row.item.inquiry.parkingLot;
      this.editForm.inquiry.babyBed = row.item.inquiry.babyBed;
      this.editForm.inquiry.numberAdults = row.item.inquiry.numberAdults;
      this.editForm.inquiry.numberReduced = row.item.inquiry.numberReduced;
      this.editForm.inquiry.message = row.item.inquiry.message;
      this.$bvModal.show('update-inquiry');
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editInquiryModal.hide();
      this.editInquiry(this.editForm);
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$nextTick(() => {
        this.$v.$reset();
      });
      this.$refs.editInquiryModal.hide();
      this.initForm();
    },
    initForm() {
      this.editForm.person.id = '';
      this.editForm.person.prename = '';
      this.editForm.person.name = '';
      this.editForm.person.email = '';
      this.editForm.inquiry.id = '';
      this.editForm.inquiry.arrival = '';
      this.editForm.inquiry.departure = '';
      this.editForm.inquiry.roomNorth = '';
      this.editForm.inquiry.roomSouth = '';
      this.editForm.inquiry.parkingLot = '';
      this.editForm.inquiry.babyBed = '';
      this.editForm.inquiry.numberAdults = '';
      this.editForm.inquiry.numberReduced = '';
      this.editForm.inquiry.message = '';
    },
    onDeleteInquiry(inquiryId) {
      this.$bvModal.msgBoxConfirm('Wirklich Anfrage ins Archiv verschieben?', {
        title: 'Anfrage archivieren',
        okVariant: 'danger',
        okTitle: 'JA',
        cancelTitle: 'NEIN',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true,
      })
        .then((confirmed) => {
          if (confirmed) {
            this.deleteInquiry(inquiryId);
          }
        });
    },
    dateDisabledArrival(ymd, date) {
      let disabled = false;
      const today = new Date();
      today.setHours(0, 0, 0, 0);
      if (date.getTime() < today.getTime()) {
        disabled = true;
      }
      return disabled;
    },
    validateState(entity, name) {
      const { $dirty, $error } = this.$v.editForm[entity][name];
      return $dirty ? !$error : null;
    },
  },
  created() {
    this.fetchInquiries();
    this.filter = this.$route.query.filter;
  },
};
</script>
