<template>
  <div>
    <b-card bg-variant="light">
      <b-form @submit.stop.prevent="onSubmit" @reset="onReset" v-if="show">
        <b-form-group
          label-cols-lg="3"
          label="Kontaktdaten"
          label-size="lg"
          label-class="font-weight-bold pt-0"
          class="mb-0"
        >
          <b-form-group id="input-group-2" label="Vorname" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="$v.form.person.prename.$model"
              :state="validateState('person', 'prename')"
              aria-describedby="prename-feedback"
            ></b-form-input>
            <b-form-invalid-feedback id="prename-feedback">
              Vorname nicht gültig
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="input-group-2" label="Name" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="$v.form.person.name.$model"
              :state="validateState('person', 'name')"
              aria-describedby="name-feedback"
            ></b-form-input>
            <b-form-invalid-feedback id="name-feedback">
              Name nicht gültig
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="E-Mail"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="$v.form.person.email.$model"
              :state="validateState('person', 'email')"
              aria-describedby="email-feedback"
            ></b-form-input>
            <b-form-invalid-feedback id="email-feedback">
              E-Mail Addresse nicht gültig
            </b-form-invalid-feedback>
          </b-form-group>
        </b-form-group>
        <b-form-group
          label-cols-lg="3"
          label="Details"
          label-size="lg"
          label-class="font-weight-bold pt-0"
          class="mb-0"
        >
          <b-form-group
            label="Anreise"
            label-for="arrival-datepicker">
            <b-form-datepicker id="arrival-datepicker"
              :date-disabled-fn="dateDisabledArrival"
              :state="validateState('inquiry', 'arrival')"
              aria-describedby="arrival-datepicker-feedback"
              v-model="$v.form.inquiry.arrival.$model" class="mb-2"
              placeholder="Kein Anreise Datum ausgewählt">
            </b-form-datepicker>
            <b-form-invalid-feedback id="arrival-datepicker-feedback">
              Ankunftsdatum nicht gültig
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group
            label="Abreise"
            label-for="departure-datepicker">
            <b-form-datepicker id="departure-datepicker"
              :min="form.inquiry.arrival"
              :state="validateState('inquiry', 'departure')"
              aria-describedby="departure-datepicker-feedback"
              v-model="$v.form.inquiry.departure.$model"
              class="mb-2"
              placeholder="Kein Abreise Datum ausgewählt">
            </b-form-datepicker>
            <b-form-invalid-feedback id="departure-datepicker-feedback">
              Abreisedatum nicht gültig
            </b-form-invalid-feedback>
          </b-form-group>

          <b-row>
            <b-col>
              <b-form-group label="Zimmer">
                  <b-form-checkbox value="1" unchecked-value="0"
                    :state="validateState('inquiry', 'roomNorth')"
                    aria-describedby="room-feedback"
                    v-model="$v.form.inquiry.roomNorth.$model">Nord
                  </b-form-checkbox>
                  <b-form-checkbox value="1" unchecked-value="0"
                    :state="validateState('inquiry', 'roomSouth')"
                    aria-describedby="room-feedback"
                    v-model="$v.form.inquiry.roomSouth.$model">Süd
                  </b-form-checkbox>
                  <b-form-invalid-feedback id="room-feedback">
                    Mindestens ein Zimmer muss ausgewählt sein.
                  </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="Extras">
                <b-form-checkbox value="1" unchecked-value="0"
                  v-model="form.inquiry.parkingLot">Tiefgaragen Stellplatz
                </b-form-checkbox>
                <b-form-checkbox value="1" unchecked-value="0"
                  v-model="form.inquiry.babyBed">Babybett</b-form-checkbox>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group
            id="input-group-1"
            label="Anzahl Erwachsene"
            label-for="input-1"
          >
            <b-form-spinbutton
              id="number-adults"
              v-model="$v.form.inquiry.numberAdults.$model"
              min="0"
              max="4"
              :state="validateState('inquiry', 'numberAdults')"
              aria-describedby="number-adults-feedback"
            ></b-form-spinbutton>
            <b-form-invalid-feedback id="number-adults-feedback">
              Anzahl an Personen darf nicht null sein.
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group
            id="input-group-1"
            label="Anzahl Kinder / Ermäßigt"
            label-for="input-1"
          >
            <b-form-spinbutton
              id="number-reduced"
              v-model="$v.form.inquiry.numberReduced.$model"
              :state="validateState('inquiry', 'numberReduced')"
              min="0"
              max="4"
              aria-describedby="number-reduced-feedback"
            ></b-form-spinbutton>
            <b-form-invalid-feedback id="number-reduced-feedback">
              Anzahl an Personen darf nicht null sein.
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="input-group-2" label="Nachricht" label-for="message">
            <b-form-textarea
              id="message"
              v-model="form.inquiry.message"
              placeholder="Schreiben Sie uns..."
              rows="5"
              max-rows="16"
            ></b-form-textarea>
          </b-form-group>
        </b-form-group>

        <div class="text-center">
          <b-form-group id="input-group-4">
            <b-form-checkbox v-model="$v.form.inquiry.checked.$model"
              name="agreement to terms of use"
              :state="validateState('inquiry', 'checked')"
              aria-describedby="tou-feedback">
              <router-link to="/privacy_policy" target="_blank" rel="noreferrer noopener">
                Bitte lesen und akzeptieren Sie die Datenschutzerklärung.
              </router-link>
            </b-form-checkbox>
            <b-form-invalid-feedback id="tou-feedback">
              Bitte stimmen Sie der Datenschutzerklärung zu.
            </b-form-invalid-feedback>
          </b-form-group>
          <div>
            <b-button type="submit" class="mr-1">Senden</b-button>
            <b-button type="reset">Abbrechen</b-button>
          </div>
        </div>
      </b-form>
    </b-card>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import {
  required, email,
} from 'vuelidate/lib/validators';

export default {
  data() {
    return {
      form: {
        person: {
          email: '',
          prename: '',
          name: '',
        },
        inquiry: {
          arrival: '',
          departure: '',
          roomNorth: '0',
          roomSouth: '0',
          parkingLot: '0',
          babyBed: '0',
          numberAdults: 0,
          numberReduced: 0,
          message: '',
          checked: [],
        },
      },
      show: true,
    };
  },
  validations: {
    form: {
      person: {
        email: {
          required,
          email,
        },
        prename: {
          required,
        },
        name: {
          required,
        },
      },
      inquiry: {
        arrival: {
          required,
        },
        departure: {
          required,
          checkDate(date) {
            return date > this.form.inquiry.arrival;
          },
        },
        roomNorth: {
          roomSelected(roomNorth) {
            return parseInt(roomNorth, 10) || parseInt(this.form.inquiry.roomSouth, 10);
          },
        },
        roomSouth: {
          roomSelected(roomSouth) {
            return parseInt(roomSouth, 10) || parseInt(this.form.inquiry.roomNorth, 10);
          },
        },
        numberAdults: {
          required,
          numberNotZero(numberAdults) {
            return numberAdults > 0
              || this.form.inquiry.numberReduced > 0;
          },
        },
        numberReduced: {
          required,
          numberNotZero(numberReduced) {
            return numberReduced > 0
              || this.form.inquiry.numberAdults > 0;
          },
        },
        checked: {
          required,
        },
      },
    },
    validationGroup: ['form.inquiry.numberAdults', 'form.inquiry.numberReduced'],
  },
  methods: {
    ...mapActions(['addInquiry']),
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      const inquiryData = this.form;

      const promise = this.addInquiry(inquiryData);
      promise.then(() => {
        this.resetForm();
      });
    },
    onReset(evt) {
      evt.preventDefault();
      this.resetForm();
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    resetForm() {
      // Reset our form values
      this.form.person.email = '';
      this.form.person.prename = '';
      this.form.person.name = '';
      this.form.inquiry.message = '';
      this.form.inquiry.arrival = '';
      this.form.inquiry.departure = '';
      this.form.inquiry.roomNorth = '0';
      this.form.inquiry.roomSouth = '0';
      this.form.inquiry.parkingLot = '0';
      this.form.inquiry.babyBed = '0';
      this.form.inquiry.numberAdults = 0;
      this.form.inquiry.numberReduced = 0;
      this.form.inquiry.checked = [];
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    dateDisabledArrival(ymd, date) {
      let disabled = false;
      const today = new Date();
      today.setHours(0, 0, 0, 0);
      if (date.getTime() < today.getTime()) {
        disabled = true;
      }
      return disabled;
    },
    validateState(entity, name) {
      const { $dirty, $error } = this.$v.form[entity][name];
      return $dirty ? !$error : null;
    },
  },
};
</script>
