<template>
    <div>
        <b-form @submit="onSubmit">
          <h1>Anmeldung</h1>
          Betreten auf eigene Gefahr :)
          <br><br>
            <b-form-group
                id="input-username"
                label="Benutzername"
                label-for="username"
            >
                <b-form-input
                    id="username"
                    type="text"
                    v-model="form.username"
                    required
                >
                </b-form-input>
            </b-form-group>
            <b-form-group
                id="input-password"
                label="Passwort"
                label-for="password"
            >
                <b-form-input
                    id="password"
                    type="password"
                    v-model="form.password"
                    required
                >
                </b-form-input>
            </b-form-group>
            <b-button
              type="submit"
            >Anmelden</b-button>
        </b-form>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    ...mapActions(['fetchMe', 'login']),
    onSubmit(evt) {
      evt.preventDefault();
      const bodyFormData = new FormData();
      bodyFormData.set('grant_type', 'password');
      bodyFormData.set('username', this.form.username);
      bodyFormData.set('password', this.form.password);

      const promise = this.login(bodyFormData);
      promise.then(() => {
        this.form.username = '';
        this.form.password = '';
        this.fetchMe();
        if (this.$route.query.redirect) {
          this.$router.push(this.$route.query.redirect);
        } else {
          this.$router.push('/inquiries');
        }
      });
    },
  },
};
</script>
