<template>
  <div>
    <b-navbar v-if="showNavbar()" toggleable="md" type="dark" variant="info">
        <b-navbar-brand to="/">voelkerfreunde</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <b-nav-item v-show="this.isAuthenticated()"
            to="/inquiries">Anfragen</b-nav-item>
            <b-nav-item v-show="this.isAdmin()"
            to="/users">Benutzer</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right v-if="this.isAuthenticated()"
            v-bind:text="getMe.username">
            <b-dropdown-item to="/user/me">Profil</b-dropdown-item>
            <b-dropdown-item @click="logOut">Abmelden</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown right v-else
            text="Backstage">
            <b-dropdown-item to="/login">Anmelden</b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    <b-container v-if="showNavbar()" fluid="lg">
      <header>
        <b-row align-h="center">
          <b-img src="http://b-33.de/b33_E_fassade.jpg" fluid alt="Header picture"></b-img>
        </b-row>
      </header>
      <br>
    </b-container>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';

export default {
  name: 'nav-bar',
  computed: mapGetters(['getMe']),
  methods: {
    showNavbar() {
      let showNavbar = '';
      const dontShowNavbar = ['/inquiry', '/privacy_policy'];
      if (!dontShowNavbar.includes(this.$route.path)) {
        showNavbar = true;
      } else {
        showNavbar = false;
      }
      return showNavbar;
    },
    logOut() {
      Vue.$cookies.remove('auth');
      this.$router.push('/login');
    },
    isAuthenticated() {
      if (Vue.$cookies.isKey('auth')) {
        return true;
      }
      return false;
    },
    isAdmin() {
      if (this.isAuthenticated()) {
        const admin = this.getMe.role;
        if (admin === 'admin' || admin === 'superuser') {
          return true;
        }
      }
      return false;
    },
  },
};
</script>
