<template>
  <div>
    <b-form>
      <b-form-group
        id='input-username'
        label='Benutzer ID'
        label-for='userID'>
        <b-form-input
          readonly
          id='userID'
          type='text'
          v-model='getMe.id'
          required>
        </b-form-input>
      </b-form-group>
      <b-form-group
        id='input-username'
        label='Benutzername'
        label-for='username'>
        <b-form-input
          readonly
          id='username'
          type='text'
          v-model='getMe.username'
          required>
        </b-form-input>
      </b-form-group>
      <b-form-group
        id='input-role'
        label='Rolle'
        label-for='role'>
        <b-form-input
          readonly
          id='role'
          v-model='getMe.role'
          required>
        </b-form-input>
      </b-form-group>
      <b-button @click="editUser()" class="mr-1">Bearbeiten</b-button>
    </b-form>
        <b-modal
      ref="editUser"
      id="update-user"
      title="Benutzer Bearbeiten"
      hide-footer
      size="lg">
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate">
        <b-form-group id="form-edit-name"
                      label="Name"
                      label-for="form-edit-name-input">
          <b-form-input id="form-edit-name-input"
                        type="text"
                        v-model="$v.editForm.username.$model"
                        :state="validateState('username')"
                        aria-describedby="username-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="username-feedback">
            Benutzername ist ungültig
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-password"
                      label="Password"
                      label-for="form-edit-password-input">
          <b-form-input id="form-edit-password-input"
                        type="password"
                        required
                        v-model="$v.editForm.password.$model"
                        :state="validateState('password')"
                        aria-describedby="password-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="password-feedback">
            Password ist ungültig
          </b-form-invalid-feedback>
        </b-form-group>
        <b-button-group>
          <b-button type="submit">Senden</b-button>
          <b-button type="reset">Abbruch</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {
  required,
} from 'vuelidate/lib/validators';

export default {
  name: 'User',
  computed: mapGetters(['getMe']),
  data() {
    return {
      editForm: {
        id: '',
        username: '',
        password: '',
        role: '',
      },
    };
  },
  validations: {
    editForm: {
      username: { required },
      password: { required },
      role: { required },
    },
  },
  methods: {
    ...mapActions(['fetchMe', 'editMe', 'deleteMe']),
    editUser() {
      this.editForm.id = this.getMe.id;
      this.editForm.username = this.getMe.username;
      this.editForm.role = this.getMe.role;
      this.$bvModal.show('update-user');
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editUser.hide();
      const payload = {
        id: this.editForm.id,
        username: this.editForm.username,
        password: this.editForm.password,
        role: this.editForm.role,
      };
      this.editMe(payload);
      this.initForm();
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$nextTick(() => {
        this.$v.$reset();
      });
      this.$refs.editUser.hide();
      this.initForm();
    },
    initForm() {
      this.editForm.id = '';
      this.editForm.username = '';
      this.editForm.password = '';
      this.editForm.role = '';
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.editForm[name];
      return $dirty ? !$error : null;
    },
  },
  created() {
    this.fetchMe();
  },
};
</script>
