<template>
  <div>
    <h1>Benutzer</h1>
    <br>
    <b-button @click='openAddUserModal' type="submit">Benutzer hinzufügen</b-button>
    <br>
    <br>
    <b-form-group>
      <b-input-group prepend="Filter" size="sm">
        <b-form-input
          v-model="filter"
          type="search"
          id="filterInput"
          placeholder="Suche"
        ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Löschen</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    <b-table
      :items="getAllUsers"
      :fields="fields"
      :busy.sync="isBusy"
      :sort-desc.sync="sortDesc"
      :filter="filter"
      :no-provider-sorting=true
      :no-provider-filtering=true
      primery-key="id"
      responsive="sm"
    >
      <template v-slot:cell(details)="row">
        <b-button :id="`${row.item.id}`">
          <b-icon-three-dots-vertical>
          </b-icon-three-dots-vertical>
        </b-button>
        <b-popover :target="`${row.item.id}`" triggers="focus">
          <template v-slot:title>Aktionen</template>
          <b-button-group vertical>
            <b-button
              size="sm"
              @click="openEditUserModal(row)"
              class="mr-1">
              Bearbeiten
            </b-button>
            <b-button
              size="sm"
              @click="onDeleteUser(row.item.id)"
              class="mr-1">
              Löschen
            </b-button>
          </b-button-group>
        </b-popover>
      </template>
    ></b-table>
    <b-modal
      ref="openAddUserModal"
      id="add-user"
      title="Benutzer Hinzufügen"
      hide-footer
      size="lg">
      <b-form @submit="onSubmitAdd" @reset="onResetAdd">
        <b-form-group id="form-edit-name"
                      label="Name"
                      label-for="form-edit-name-input">
          <b-form-input id="form-edit-name-input"
                        type="text"
                        v-model="$v.editForm.username.$model"
                        :state="validateState('username')"
                        aria-describedby="username-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="username-feedback">
            Benutzername ist ungültig
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-password"
                      label="Password"
                      label-for="form-edit-password-input">
          <b-form-input id="form-edit-password-input"
                        type="password"
                        v-model="$v.editForm.password.$model"
                        :state="validateState('password')"
                        aria-describedby="password-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="password-feedback">
            Password ist ungültig
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-role"
                      label="Rolle"
                      label-for="form-edit-role-input">
          <b-form-select id="form-edit-role-input" :options="setUserPermissionOptions()"
                        v-model="$v.editForm.role.$model"
                        :state="validateState('role')"
                        aria-describedby="role-feedback">
          </b-form-select>
          <b-form-invalid-feedback id="role-feedback">
            Rolle ist ungültig
          </b-form-invalid-feedback>
        </b-form-group>
        <b-button-group>
          <b-button type="submit">Senden</b-button>
          <b-button type="reset">Abbruch</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <b-modal
      ref="openEditUserModal"
      id="update-user"
      title="Benutzer Bearbeiten"
      hide-footer
      size="lg">
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate">
        <b-form-group id="form-edit-name"
                      label="Name"
                      label-for="form-edit-name-input">
          <b-form-input id="form-edit-name-input"
                        type="text"
                        v-model="$v.editForm.username.$model"
                        :state="validateState('username')"
                        aria-describedby="username-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="username-feedback">
            Benutzername ist ungültig
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="form-edit-password"
                      label="Password"
                      label-for="form-edit-password-input">
          <b-form-input id="form-edit-password-input"
                        type="password"
                        v-model="$v.editForm.password.$model"
                        :state="validateState('password')"
                        aria-describedby="password-feedback">
          </b-form-input>
          <b-form-invalid-feedback id="password-feedback">
            Password ist ungültig
          </b-form-invalid-feedback>
        <b-form-group id="form-edit-role"
                      label="Rolle"
                      label-for="form-edit-role-input">
          <b-form-select id="form-edit-role-input" :options="setUserPermissionOptions()"
                        v-model="$v.editForm.role.$model"
                        :state="validateState('role')"
                        aria-describedby="role-feedback">
          </b-form-select>
          <b-form-invalid-feedback id="role-feedback">
            Rolle ist ungültig
          </b-form-invalid-feedback>
        </b-form-group>
        </b-form-group>
        <b-button-group>
          <b-button type="submit">Senden</b-button>
          <b-button type="reset">Abbruch</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {
  required,
} from 'vuelidate/lib/validators';

export default {
  name: 'Users',
  computed: mapGetters(['getAllUsers', 'getMe']),
  data() {
    return {
      filter: null,
      isBusy: false,
      sortDesc: false,
      fields: [
        { key: 'id', label: 'ID', sortable: true },
        { key: 'username', label: 'Name', sortable: true },
        { key: 'role', label: 'Rolle', sortable: true },
        { key: 'details', label: '' },
        { key: 'actions', label: '' },
      ],
      editForm: {
        id: '',
        username: '',
        password: '',
        role: '',
      },
    };
  },
  validations: {
    editForm: {
      username: {
        required,
        checkIfUserExists(newUserName) {
          let userNameExists = true;
          for (const user of this.getAllUsers) { // eslint-disable-line
            if (newUserName === user.username) {
              userNameExists = false;
            }
          }
          return userNameExists;
        },
      },
      password: { required },
      role: { required },
    },
  },
  methods: {
    ...mapActions(['fetchUsers', 'addUser', 'editUser', 'deleteUser']),
    openAddUserModal() {
      this.initForm();
      this.$bvModal.show('add-user');
    },
    onSubmitAdd(evt) {
      evt.preventDefault();
      this.$nextTick(() => {
        this.$v.$reset();
      });
      this.$refs.openAddUserModal.hide();
      const payload = {
        username: this.editForm.username,
        password: this.editForm.password,
        role: this.editForm.role,
      };
      this.addUser(payload);
    },
    onResetAdd(evt) {
      evt.preventDefault();
      this.$nextTick(() => {
        this.$v.$reset();
      });
      this.$refs.openAddUserModal.hide();
      this.initForm();
    },
    openEditUserModal(row) {
      this.editForm.id = row.item.id;
      this.editForm.username = row.item.username;
      this.editForm.role = row.item.role;
      this.$bvModal.show('update-user');
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.openEditUserModal.hide();
      const payload = {
        id: this.editForm.id,
        username: this.editForm.username,
        password: this.editForm.password,
        role: this.editForm.role,
      };
      this.initForm();
      this.editUser(payload);
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.openEditUserModal.hide();
      this.initForm();
    },
    initForm() {
      this.editForm.id = '';
      this.editForm.username = '';
      this.editForm.password = '';
      this.editForm.role = '';
    },
    onDeleteUser(userId) {
      this.$bvModal.msgBoxConfirm('Wirklich Benutzer endgültig löschen?', {
        title: 'Benutzer endgültig löschen',
        okVariant: 'danger',
        okTitle: 'JA',
        cancelTitle: 'NEIN',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true,
      })
        .then((confirmed) => {
          if (confirmed) {
            this.deleteUser(userId);
          }
        });
    },
    setUserPermissionOptions() {
      let userPermissionOptions = '';
      if (this.getMe.role === 'superuser') {
        userPermissionOptions = [
          { value: 'user', text: 'Benutzer' },
          { value: 'admin', text: 'Admin' },
        ];
      } else {
        userPermissionOptions = [
          { value: 'user', text: 'Benutzer' },
        ];
      }
      return userPermissionOptions;
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.editForm[name];
      return $dirty ? !$error : null;
    },
  },
  created() {
    this.fetchUsers();
  },
};
</script>
