<template>
  <div id="app">
    <InquiryForm v-bind:inquiries="inquiries" />
  </div>
</template>

<script>
import InquiryForm from './components/InquiryForm';
import axios from 'axios';

export default {
  name: 'InquiryList',
  components: {
    InquiryForm
  }
}
</script>

