<template>
  <div id="app">
    <InquiryList v-bind:inquiries="inquiries" />
  </div>
</template>

<script>
import InquiryList from './components/InquiryList';
import axios from 'axios';

export default {
  name: 'InquiryList',
  components: {
    InquiryList
  },
  data() {
    return {
      inquiries: []
      }
  }
}
</script>

