<template>
  <div id="app">
    <navbar></navbar>
    <b-container fluid="lg">
      <router-view></router-view>
      <notifications classes="b33-notification"
        group="notification"
        position="bottom center"
        width="50%"/>
    </b-container>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters, mapActions } from 'vuex';
import navbar from './components/Navbar.vue';

export default {
  name: 'app',
  components: { navbar },
  computed: mapGetters(['getMe']),
  methods: {
    ...mapActions(['fetchMe']),
    logOut() {
      Vue.$cookies.remove('auth');
      this.$router.push('/login');
    },
    isAuthenticated() {
      if (Vue.$cookies.isKey('auth')) {
        return true;
      }
      return false;
    },
    isAdmin() {
      if (this.isAuthenticated()) {
        const admin = this.getMe.role;
        if (admin === 'admin' || admin === 'superuser') {
          return true;
        }
      }
      return false;
    },
  },
  created() {
    if (this.isAuthenticated()) {
      this.fetchMe();
    }
  },
};
</script>

<style lang="scss">
html {
    width: 100%;
    width: 100vw;
}
.b33-notification {
  padding: 1rem;
  margin: 0 0.5rem 0.5rem;

  font-size: 1rem;

  color: #ffffff;
  background: #44A4FC;
  border-left: 0.5rem solid #187FE7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}
</style>
